### Class

![alt text](image.png)

Methods : When functions are defined inside of a class , we refer them as a method

Attributes: the input/parametrs we provide inside of a class/__init__constructors

In [52]:
path = r"C:\Users\HP\Downloads\50_Startups.csv"

In [53]:
import pandas as pd
df= pd.read_csv(path)
df.head ()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [54]:
df.shape

(50, 5)

In [55]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
def function_name(parameters):
    x = parameters+100
    return x

Instance Attributes - Attributes defined inside of a init constructor.

Create a class person and define its attributes and methods

In [ ]:
class person:
    ## Define instance attributes
    def __init__(self,name,age,occupation,stay):
        self.name = name
        self.age = age 
        self.occupation = occupation
        self.stay = stay
        

    def talk(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")
        print(f"I live in {self.stay}")
        print(f"I work at {self.occupation}")
        
        

    def work(self,n):
        print(f"I am currently working at {self.occupation}.")
        print(f"It's been {n}years since am working at this company.")

In [ ]:
p1 = person(name= 'Rutuja',age =24,occupation='data Analyst', stay = 'pune')

In [ ]:
p1.age

24

In [ ]:
p1.occupation

'data Analyst'

In [ ]:
p1.name

'Rutuja'

In [ ]:
p1.stay

'pune'

In [ ]:
p1.talk()

Hi, I am Rutuja and I am 24 years old
I live in pune
I work at data Analyst

In [ ]:
p1.work(3)

I am currently working at data Analyst.
It's been 3years since am working at this company.

Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [2]:
class sbi_bank:
    # define the instance attributes
    def __init__(self,account_number,account_name, balance):
        self.account_number = account_number
        self.account_name = account_name 
        self.balance = balance 

    # Create  method that performs withdrawal action
    def withdrawal(self,amount):
        self.balance = self.balance - amount
        return f"Amount withdrawal is {amount}. your updated balance is {self.balance}"

     # Create a method that deposits the amount provided by user 
    def deposit(self,deposit_amount):
        self.balance = self.balance + deposit_amount
        return f"Amount Deposited is {deposit_amount}. Your updated balance is {self.balance}"
    
    # Create a method that transfers the amount provided by user to another acc
    def transfer(self,transfer_amount,acc_no):
        self.balance = self.balance - transfer_amount
        return f"Amount being transferred is {transfer_amount}. Your updated balance is {self.balance}. Amount transferred to {acc_no}"

In [3]:
cust1 = sbi_bank(123456789,'Rutuja',50000)

In [4]:
cust1.balance

50000

In [5]:
cust1.account_name

'Rutuja'

In [6]:
cust1.account_number

123456789

In [9]:
cust1.withdrawal(2000)

'Amount withdrawal is 2000. your updated balance is 48000'

In [11]:
cust1.deposit(5000)

'Amount Deposited is 5000. Your updated balance is 53000'

In [12]:
cust1.transfer(45000,123456789)

'Amount being transferred is 45000. Your updated balance is 8000. Amount transferred to 123456789'

In [13]:
cust2 = sbi_bank(987654321,'Sanket',35000)

In [14]:
cust2.balance

35000

In [15]:
cust2.account_name

'Sanket'

In [16]:
cust2.account_number

987654321

## Class attributes

In [17]:
class student_preprimary:
    # define the class attributes
    sectiona = 40
    sectionb = 38
    class_teacher_a = "Rutu"
    class_teacher_b = "Priya"

    def welcome():
        print(f"Welcome to this class")

In [ ]:
student1 = student